# General
.DS_Store
.env
build_log.txt

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.pytest_cache/
*.egg-info/
weightloss_rag_pubmed.egg-info/

# Data & Models (Do not commit to Git)
data/

# Accidental Cloud SDK Installations
Y/
google-cloud-sdk/

# Frontend
frontend/.angular/
frontend/node_modules/
frontend/dist/
logs/
